<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        <h1>Listagem</h1>
        {% for transacao in transacoes %}
            <li><a href="{% url 'url_update' transacao.id %}">
            {{ transacao }}
            {{ transacao.categoria }}</a></li>
        {% endfor %}

        <a href="{% url 'url_nova' %}">Nova Transacao</a>
    </body>
</html>